.pokecard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6d743;
    border: 1.8px solid #120136;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    margin: 10px;
    width: 150px;
    flex-grow: 1;
}

.pname {
    /*display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6d743;
    border: 1px solid #120136;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    backface-visibility: hidden;*/
    transform: scale(0.90);
    /*margin: 10px;
    width: 150px;
    flex-grow: 1;*/
}


.pokecard:hover {
    transform: scale(1.10);             /*AMAZING..TRY*/
}

.pokemon-sprite {
    height: 120px;
    width: 200px;
}